# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.log
*.bak

# OS files
.DS_Store
Thumbs.db

# Local cookies / post body files
*_cookie.txt
*_post_body.txt
nstc_*_cookie.txt
nstc_*_post_body.txt

# Local secrets
.env
.env.*

# Streamlit secrets
.streamlit/secrets.toml

# Raw full data
data/raw/*
!data/raw/.gitkeep

# Processed generated data
data/processed/*
!data/processed/.gitkeep